@import url(bootstrap.min.css);
@import url(bootstrap.css);
@import url(responsive.css);
@import url(flexslider.css);
@import url(camera.css);
@import url(owl.carousel.css);
@import url(owl.theme.css);
@import url(font-awesome.css);
@import url(cherry-plugin.css);
@import url(styles.css);
@import url(style.css);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed&#038;subset=latin);
@import url(main-style.css);
@import url(magnific-popup.css);

.cherry-fixed-layout .main-holder {
    background: #77a2d1;
}

body {
    background-color: #ffffff
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

h1 {
    font: normal 36px/43px Roboto Condensed;
    color: #4f4949;
}

h2 {
    font: normal 30px/36px Roboto Condensed;
    color: #4f4949;
}

h3 {
    font: normal 26px/31px Roboto Condensed;
    color: #4f4949;
}

h4 {
    font: normal 24px/28px Roboto Condensed;
    color: #4f4949;
}

h5 {
    font: normal 20px/24px Roboto Condensed;
    color: #4f4949;
}

h6 {
    font: normal 18px/22px Roboto Condensed;
    color: #4f4949;
}

body {
    font-weight: normal;
}

.logo_h__txt, .logo_link {
    font: bold 89px/80px Roboto Condensed;
    color: #ffffff;
}

.sf-menu > li > a {
    font: normal 21px/25px Roboto Condensed;
    color: #3679bb;
}

.nav.footer-nav a {
    font: normal 19px/23px Roboto Condensed;
    color: #ffffff;
}

h1#header-name {
    font-size: 50px;
    font-family: 'Roboto Condensed';
}

input#contact-name, input#contact-email {
    width: 100%;
    height: 31px
}

address#meeting-hour {
    height: 190px;
}

.thumbnail img.alignnone {
    width: 370;
    height: 196;
}

.testimonials .testi-item blockquote > a {
    font-size: 14px;
}

div.google-map {
    margin-bottom: 40px;
}

div.inner-title h1 {
    margin-bottom: 30px;
}

div.inner-title h1.offset {
    padding-left: 40px;
}

table#navigation-table {
    margin-top: 15px;
}

div.name {
    margin-top: 70px;
    color: black;
    font-size: 25px;
    display: block;
    height: 40px;
}

div.description, div.school{
    color: #808080;
    font-size: 18px;
    display: block;
    height: 35px;
}

div.photocard img{
    height: 230px;
    width: 230px;
}

div.card{
    margin-bottom: 70px;
}

a.btn-margin {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.spacing{
    height: 10px;
    width:100%;
    background-color: transparent;
}

span.web-version{

}

span.web-version a.current_version{
    opacity: 0.8;
}

span.web-version a.previous_version{
    opacity: 0.5;
}

figure.frame.thumbnail.alignnone img.size-fit{
    height:190px;
    width:100%;

}